<div class="about-us" fxLayout="column" fxLayoutAlign="center center">
  <div class="title-container">
    <h2>
      ¿Qué es JM Cleaner?
    </h2>
  </div>
  <div class="description-container">
    <p>
      JM Cleaner es un líquido especialmente formulado para limpiar cristales de anteojos, gafas de sol, visores de cascos, entre otros, de la manera menos abrasiva para los cristales.<br>
      Además deja una película protectora que impide que se condense el vapor del aire cuando, por ejemplo, utilizamos un barbijo o tapabocas, o cuando tomamos una bebida caliente. A esto se llama propiedad
      <em matTooltip="asdasdasd">anti-fog.</em>
    </p>
    </div>
</div>
