<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="footer-nav">
      <a target="_new" mat-button href="http://instagram.com">
        <!-- <mat-icon>instagram</mat-icon> -->
        Instagram
      </a>
      <a target="_new" mat-button href="http://facebook.com">
        <!-- <mat-icon>facebook</mat-icon> -->
        Facebook
      </a>
      <a target="_new" mat-button href="http://twitter.com">
        <!-- <mat-icon>twitter</mat-icon> -->
        Twitter
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
